.inputContainer,
.inputNumberContainer {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  letter-spacing: -0.5px;
  font-size: 1.1rem;
}

button {
  padding: 5px 10px;
  width: fit-content;
}
