/* Stile generale per il container */
.container {
  width: 100%;
  max-width: 100%; /* Per schermi piccoli */
  margin-left: auto; /* Centro */
  margin-right: auto; /* Centro */
  padding-left: 15px;
  padding-right: 15px;
  /* min-height: 100vh; */
}

/* Breakpoint per schermi piccoli (min-width: 576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Breakpoint per schermi medi (min-width: 768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Breakpoint per schermi grandi (min-width: 992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Breakpoint per schermi extra grandi (min-width: 1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Breakpoint per schermi ultra grandi (min-width: 1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
